################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetMvc5Client/.vs
/AspNetMvc5Client/AspNetMvc5Client/bin
/AspNetMvc5Client/AspNetMvc5Client/obj/Debug
/AspNetMvc5Client/packages
